.main-wrapper{
    height: 100vh;
}
.desktop{
    margin: auto;
}

.page-content{
    margin-top: 0;
    padding-left: 26px;
    padding-right: 26px;
    min-height: calc(100vh - 90px);
}

.navbar-cust-prodi {
    position: unset;
    top: 0px;
    width: 100%;
}

.prodi-navback{
    display: flex;
    top: 0;
    overflow: hidden;
}

.prodi-navback a{        
    top: 36px;
    z-index: 100;
}

.navback-home{
    text-decoration: none; 
    font-family: var(--font-family-body);
}

.first-headline {
    width: 60%;
    display: inline-flex;
    align-items: center;
    justify-content: space-between; 
    margin-top: 20px ;    
    margin-bottom: 20px;  
    z-index: 90; 
}

.logo-prodi {
    padding: 10px;
    display: grid;
    place-items: center;
    width: 50%;        
}

.logo-prodi img{
    width: 60%;
}

.name-prodi{
    width: 50%;
    margin-left: 10px;
}

.name-prodi h2{
    font-weight: bold;
    margin: 0px;
}

.name-prodi h5{
    font-family: var(--font-family-body);
    font-size: 14px;
    margin-bottom: 0px;
}


.detail-headline h6{
    font-family: var(--font-family-body);
    font-size: 10px;
    padding-top: 10px;
    margin: 0px;
}

.detail-headline p{
    font-weight: 600;
    margin-bottom: 12px;
}

.second-headline {
    margin-bottom: 0px;
}

.third-headline {
    margin-bottom: 20px;
}

.footer-blue {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 20%;
    padding-right: 20%;
    display: flex;
    background-color: var(--primary);
    text-align: left;
    position: absolute;
    align-items: center;
    width: 100%;
    height: 90px;
}

.footer-blue-logo{
    width: unset;     
}

.footer-blue img {
    width: 60px;
    border-radius: 50%;
    background-color: #fff;
}

.footer-blue p{
    font-size: 8px; 
    margin-bottom: 0px;
    color: var(--white);
}


.detail-info{
    margin-left: 10px;
    width: 50%;
}

.detail-info p{
    font-size: 13px;

}

.icon-sosmed{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 10px;
    width: unset;
}

.icon-sosmed img{
    width: 100%;
}
.slick-wrapper {
    max-width: 500px;
}
[class^='carousel-'] {
    margin: 0 20px 30px 20px;
    padding: 0;
}
.slick-prev:before,
.slick-next:before {
    color: #3991C9;
}
.slide-image {
    box-sizing: border-box;
    height: auto;
    padding: 10px;
}
.carousel-3 .slide-image {
    transition: .5s;
    opacity: .5;
}
.carousel-3 .slick-center .slide-image {
    transform: scale(1.2);
    opacity: 1;
}

.detail-prodikiri h6{
    font-family: var(--font-family-body);
    font-size: 10px;
    margin: 0px;
}

.detail-prodikiri p{
    font-weight: 600;
    margin-bottom: 12px;
}

.detail-prodikanan h6{
    font-family: var(--font-family-body);
    font-size: 10px;
    margin: 0px;
    text-align: right;
}

.detail-prodikanan p{
    font-weight: 600;
    margin-bottom: 12px;
    text-align: right;
}
.name-prodikanan{
    margin-right: 10px;
}

.name-prodikanan h2{
    font-weight: bold;
    margin: 0px;
    text-align: right;
}

.name-prodikanan h5{
    font-family: var(--font-family-body);
    font-size: 14px;
    margin: 0px;
    text-align: right;
}

.struktur-headline{
    margin-top: 10px;
}

.struktur-headline h2{
    font-weight: bold;
    margin: 0px;
    text-align: center;
}

.nav-link{
    display: flex;  
    top: 0;       
    padding-right: 25px;   
    border-radius: 15px !important;
    overflow: hidden;
    z-index: 99;
    margin: 0px;        
}

.nav-link a{        
    color: #0d6efd !important;                
}

.navlink-detail{
    text-decoration: none; 
    font-family: var(--font-family-body);
}

.slick-headline {
    margin-bottom: 0px;
}

.last-headline {
    display: flex; 
    margin-top: 20px ;    
    margin-bottom: 20px;   
}

@media (max-width:1200px){
    .first-headline {
        width: 80%;
    }
    .logo-prodi img{
        width: 50%;
    }

    .navback-home img{
        width: 36px;
    }

    .navbar-cust-prodi {
        top: 0px;
        width: 100%;
    }
    
    .page-content {
        margin-top: 0;
        padding-left: 26px;
        padding-right: 26px;
    }

    .prodi-navback{
        display: flex;
        top: 0;
        margin-top: 36px;
        margin-bottom: 20px;
        overflow: hidden;
    }

    .prodi-navback a{ 
        top: 36px;
        z-index: 100;
    }

}

@media (max-width: 763px){
    
    .first-headline {
        width: 100%;
        display: flex; 
        margin-top: 0px ;    
        margin-bottom: 20px;   
    }

    .logo-prodi {
        max-width: 50%;   
        padding: 10px;     
    }

    .logo-prodi img{
        width: 100%;
    }

    .name-prodi{
        margin-left: 10px;
        width: 50%;
    }

    .name-prodi h2{
        font-weight: bold;
        margin: 0px;
    }

    .name-prodi h5{
        font-family: var(--font-family-body);
        font-size: 14px;
        margin-bottom: 0px;
    }


    .detail-headline h6{
        font-family: var(--font-family-body);
        font-size: 10px;
        padding-top: 10px;
        margin: 0px;
    }

    .detail-headline p{
        font-weight: 600;
        margin-bottom: 12px;
    }
 
    .second-headline {
        margin-bottom: 0px;
    }

    .third-headline {
        margin-bottom: 20px;
    }
    
    .footer-blue {
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 26px;
        padding-right: 26px;
        display: flex;
        background-color: var(--primary);
        text-align: left;
        position: absolute;
        align-items: center;
    }

    .footer-blue p{
        font-size: 8px; 
        margin-bottom: 0px;
        color: var(--white);
    }

    .detail-info{   
        margin-left: 10px;
    }

    .icon-sosmed{
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        gap: 10px;
        width: 25%;
    }
    .icon-sosmed img{
        width: 100%;
    }

    .slick-wrapper {
        max-width: 500px;
    }
    [class^='carousel-'] {
        margin: 0 20px 30px 20px;
        padding: 0;
    }
    .slick-prev:before,
    .slick-next:before {
        color: #3991C9;
    }
    .slide-image {
        box-sizing: border-box;
        height: auto;
        padding: 10px;
    }
    .carousel-3 .slide-image {
        transition: .5s;
        opacity: .5;
    }
    .carousel-3 .slick-center .slide-image {
        transform: scale(1.2);
        opacity: 1;
    }

    .detail-prodikiri h6{
        font-family: var(--font-family-body);
        font-size: 10px;
        margin: 0px;
    }

    .detail-prodikiri p{
        font-weight: 600;
        margin-bottom: 12px;
    }

    .detail-prodikanan h6{
        font-family: var(--font-family-body);
        font-size: 10px;
        margin: 0px;
        text-align: right;
    }

    .detail-prodikanan p{
        font-weight: 600;
        margin-bottom: 12px;
        text-align: right;
    }
    .name-prodikanan{
        margin-right: 10px;
    }

    .name-prodikanan h2{
        font-weight: bold;
        margin: 0px;
        text-align: right;
    }

    .name-prodikanan h5{
        font-family: var(--font-family-body);
        font-size: 14px;
        margin: 0px;
        text-align: right;
    }

    .struktur-headline{
        margin-top: 10px;
    }

    .struktur-headline h2{
        font-weight: bold;
        margin: 0px;
        text-align: center;
    }

    .nav-link{
        display: flex;  
        top: 0;       
        padding-right: 25px;   
        border-radius: 15px !important;
        overflow: hidden;
        z-index: 99;
        margin: 0px;        
    }

    .nav-link a{        
        color: #0d6efd !important;                
    }

    .navlink-detail{
        text-decoration: none; 
        font-family: var(--font-family-body);
    }

    .slick-headline {
        margin-bottom: 0px;
    }

    .last-headline {
        display: flex; 
        margin-top: 20px ;    
        margin-bottom: 20px;   
    }
    
}

@media (max-width: 576px) {
    .detail-info{   
        width: 40%;
    }
    
    .detail-info p{
        font-size: 9px;
    }
    
}
