.navbar{
    padding-top: 0px;
}

.page-content .navbar{
    position: absolute;
}

.nav-back{
    display: flex;  
    top: 0;       
    padding-left: 25px;
    padding-right: 25px;   
    border-radius: 15px !important;
    overflow: hidden;
    z-index: 99;        
}

.nav-back a{        
    position: absolute;
    top: 50px;
    color: var(--white) !important;   
    z-index: 100; 
}

.navback-home{
    text-decoration: none; 
    font-family: var(--font-family-body);
}
.carousel-item img {
    width: 80%;    
    top: -26px !important;
    z-index: 1;
    border-radius: 0 0 15px 15px;
    filter: brightness(70%);
} 

.carousel-inner .active{
    background-color: transparent !important;
    box-shadow: none !important;
    background-image: none !important;
} 

.page-content {        
    margin-top: 100px;     
    padding-top: 0; 
    padding-left: 26px;
    padding-right: 26px; 
    margin-bottom: 90px;
    min-height: calc(100vh - 90px); 
}

.main-text { 
    margin-top: 20px;
    margin-bottom: 20px;
}

.himpunan-title-text{     
    font-family: var(--font-family-title); 
    font-weight: 700 !important;
    font-size: 24px;
    margin-bottom: 10px;
    width: 100%;
    place-items: left;
}

.page-content p{        
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    color: var(--font-color-secondary);
}

.first-custom{
    display: grid;
    place-items: center;
}

.small-prodi-menu{
    margin-top: 15px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: unset;
    width: 100%;
    justify-content:space-between !important;
}

.small-prodi-menu .nav-item button{   
    display: grid;
    place-items: center;      
    font-weight: 600;
    width: 110px;    
    height: 40px;                  
    font-family: var(--font-family-body);
    font-size: 13px; 
    text-align: center; 
    color: var(--grey); 
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px; 
    border: none;
    outline: none;
    background-color: transparent;
    border-radius: 10px;
}

.active, .button-himpunan:hover {
    background-image: var(--gradient-1) !important;
    color: var(--white) !important;
    border-radius: 10px !important;
    box-shadow: 0px 5px 10px 1px rgb(57 145 201 / 18%);        
}

.custom-card-himpunan{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: transparent !important;
    box-shadow: none !important;
}

.tab-content .active{
    background-color: transparent !important;
    background-image: none !important;
}

.rounded{
    border-radius: 10px !important;
}

.custom-mini-himpunan-col{
    margin-top: 0px;
    margin-bottom: 30px;
    min-height: 230px;
    display: grid;
    place-items: center;
}

.custom-mini-himpunan-col .card{              
    width: 90%;
    display: grid; 
    place-items: center;
    height: relative; 
    padding: 0px; 
    border-radius: 10px !important;
    height: 100%;
    box-shadow: 0px 3px 8px 1px rgb(0 0 0 / 10%);
}

.custom-mini-himpunan-col .card .image{
    max-width: 160px;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    border-radius: 10px 10px 0 0;
    background-color: #fff;
}

.custom-mini-himpunan-col .card img{
    max-width: 100%;
    max-height: 100%;
    display: block; 
}

.custom-mini-himpunan-col .card-body {    
    height: 100px;
    width: 100%;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.custom-mini-himpunan-col .card-title{
    font-size: 14px;
    float: left;
    color: var(--font-color-subheadline);
    font-weight: bold;
}

.custom-mini-himpunan-col .card-text{
    margin-bottom: 0px;
    width: 100%;  
    display: flex;
    max-height: 100%;
    text-overflow: unset;
}    

.slider2 {
    padding-top: 10px;
    padding-bottom: 5px;
}
.slider3 {
    padding-top: 20px;
    padding-bottom: 10px;
}
.slider1 {
    padding-top: 0px;
    padding-bottom: 0px;
}

.h6 {
    text-align: left;
}

.custom-mini-himpunan-col .card  .custom-more-btn{
    width: 120px;
    height: 45px;
    background-image: linear-gradient(#3991C9, #63BCF4);
    border: none;
    font-family: var(--font-family-body);
    font-size: 16px;
    font-weight: 200;
    float: right;
    border-radius: 6px !important;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-30%, 50%);
}

.search-form {
    position: relative;
    display: flex;
    margin: 0 auto;
    align-items: center;
    float: left;
    width: 100%;
}

.search-form .fa-search {
    position: absolute;
    left: 20px;
    font-size: 20px;
    color: #4A4A4A;
}

.search-bar {
    margin: auto;
    width: 100%;
}

.search-form-input {
    height: 44px;
    text-indent: 33px;
    border-radius: 10px;
    padding: 20px;
    font-family: var(--font-family-body);
    font-size: 13px;
    color: #666666;
    background-color: #E4E4E4;
    width: 100%;
}

.search-form-input:focus, .search-form-input:hover, .search-form-input:active  {
    box-shadow: none;
    border: solid 1px var(--primary);
    box-shadow: 0px 5px 15px 1px rgba(0, 0, 0, .1);
    background-color: #E4E4E4;
}

.filter-search-button{
    background-image: linear-gradient(#3991C9, #63BCF4);
    border-radius: 10px;
    border: none;
    text-decoration: none;
    width: 44px;
    height: 44px;
    display: flex;
    margin: 0 auto;
    align-items: center;
}

.filter-search-button:hover, .filter-search-button:active, .filter-search-button:focus{
    background-color: var(--secondary);
    transform: scale(1.03);
    box-shadow: 0px 5px 10px 5px rgba(57, 145, 201, 0.18);
}

.image img{
    width: 150px;
    height: 150px;
    object-fit: contain;
}


@media (max-width: 1200px){    

    .nav-back a{        
        top: 36px;       
    }

    .carousel-item img {
        width: 100%;
    } 

    .page-content {        
        margin-top: 20px;     
    }

    .himpunan-title-text{     
        font-size: 20px;
    }

    .page-content p{                
        font-size: 13px;        
    }

    .custom-mini-himpunan-col{
        min-height: 130px;
    }

    .custom-mini-himpunan-col .card{              
        width: 100%;
        display: flex; 
        flex-direction: column !important;         
    }

    .custom-mini-himpunan-col .card-body {    
        max-height: 60px;        
        padding-top: 2px;        
        padding-right: 0px;        
    }

    .custom-mini-himpunan-col .card-title{
        padding-top: 3px;        
        font-size: 9px;
    }

    .custom-mini-himpunan-col .card .custom-more-btn{
        width: 66px;
        height: 20px;
        font-size: 7px;
        font-weight: 50;
    }

    .search-bar{
        margin-top: 0px;
        margin-bottom: 30px;
    }
}

@media (max-width: 576px) {
    .image img{
        width: 85px;
        height: 85px;
    }
    
}

@media (max-width: 360px) {
    .small-prodi-menu .nav-item button{ 
        width: 100%;
        height: 100%;
    }
}

