.navbar{
    padding-top: 0px;
}
.page-content .navbar{
    position: absolute;
}

.nav-back{
    display: flex;  
    top: 0;       
    padding-left: 25px;
    padding-right: 25px;   
    border-radius: 15px !important;
    overflow: hidden;       
}

.nav-back a{        
    position: absolute;
    top: 50px;
    color: var(--white) !important;   
    z-index: 100;             
}

.navback-home{
    text-decoration: none; 
    font-family: var(--font-family-body);
}

.carousel-item img {
    width: 80%;    
    top: -26px !important;
    z-index: 1;
    border-radius: 0 0 15px 15px;
    filter: brightness(70%);
}

.carousel-inner .active{
    background-color: transparent !important;
    box-shadow: none !important;
    background-image: none !important;
}   

.main-text { 
    margin-top: 20px;
    margin-bottom: 8px;
}

.jurusan-title-text{     
    font-family: var(--font-family-title); 
    font-weight: 700 !important;
    font-size: 24px;
    margin-bottom: 10px;
    width: 100%;
    place-items: left;
}

.page-content {
    margin-top: 100px;
    padding-top: 0;
    padding-left: 26px;
    padding-right: 26px;
    margin-bottom: 90px;
}

.page-content p{        
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    color: var(--font-color-secondary);
}

.first-custom{
    display: grid;
    place-items: center;
}

.small-jurusan-menu{
    margin-top: 15px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: unset;
    width: 75%;
    justify-content:space-between !important;
}

.small-jurusan-menu .nav-item button{   
    display: grid;
    place-items: center;      
    font-weight: 600;
    width: 160px;    
    height: 100%;                  
    font-family: var(--font-family-body);
    font-size: 20px; 
    text-align: center; 
    color: var(--grey); 
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px; 
    border: none;
    outline: none;
    background-color: transparent;
    border-radius: 10px;
}

.active, .button-jurusan:hover {
    background-image: var(--gradient-1) !important;
    color: var(--white) !important;
    border-radius: 10px !important;
    box-shadow: 0px 5px 10px 1px rgb(57 145 201 / 18%);        
}

.custom-card-jurusan{
    margin-top: 20px;
    margin-bottom: 20px;
}

.tab-content .active{
    background-color: transparent !important;
    box-shadow: none !important;
    background-image: none !important;
}

.card{              
    display: flex; 
    flex-direction: column !important; 
    height: relative; 
    padding: 0px; 
    height: 100%;   
    border-radius: 15px;    
}

.card-img-top{                
    border-radius: 15px;
    width: 100% !important;   
    height: 100% !important;    
}

.card-body {    
    height: 100%;
    width: 100%;
    padding-top: 40px;
    padding-left: 40px ;
    padding-right: 40px ;
    padding-bottom: 40px;
}

.card-title{
    padding-top: 15px;        
    font-size: 24px;
    color: var(--font-color-primary);
}

.card-text{
    margin-bottom: 0px;
    width: 100%;  
    display: flex;
    max-height: 100%;
    text-overflow: unset;
}    

@media (max-width: 1200px){    
    .nav-back{        
        z-index: 99;        
    }

    .nav-back a{                
        top: 36px;                  
    }

    .carousel-item img {
        width: 100%;                        
        border-radius: 0 0 15px 15px;
    }

    .main-text { 
        margin-top: 0px;        
    }

    .jurusan-title-text{             
        font-size: 20px;        
    }

    .page-content {
        margin-top: 20px;                
    }

    .page-content p{                
        font-size: 13px;    
    }

    .small-jurusan-menu{        
        width: 100%;        
    }

    .small-jurusan-menu .nav-item button{          
        width: 110px;    
        height: 40px;                          
        font-size: 13px;         
    }

    .card-body {    
        max-height: 100%;
        max-width: 100%;
        padding-left: 20px ;
        padding-right: 20px ;
        padding-bottom: 20px;
    }

    .card-title{          
        font-size: 16px;
    } 

}

@media (max-width: 360px){
    .small-jurusan-menu .nav-item button {
        width: 100%;
        height: 100%;
    }
}
