.card-kabinet .card-text{
    max-height: unset !important;
    text-overflow: unset !important;
    -webkit-line-clamp: unset !important;
}

.main-wrapper{
    position: unset;
}

.desktop{
    margin: auto;
    display: grid;
}

.card-kabinet .card-text{
    max-height: unset !important;
    text-overflow: unset !important;
    -webkit-line-clamp: unset !important;
}

.page-content{
    margin-top: 0;
    padding-left: 26px;
    padding-right: 26px;
    min-height: calc(100vh - 90px);
}

.navbar-cust-kab {
    position: unset;
    top: 0px;
    width: 100%;
}

.kab-navback{
    display: flex;
    top: 0;
    overflow: hidden;
}

.kab-navback a{        
    top: 36px;
    z-index: 100;
}

.navback-home{
    text-decoration: none; 
    font-family: var(--font-family-body);
}

.first-headline {
    display: inline-flex;
    align-items: center;
    justify-content: space-between; 
    margin-top: 20px ;    
    margin-bottom: 20px;  
    margin-left: auto;
    margin-right: auto;
    z-index: 90; 
}

.logo-kabinet {
    padding: 10px;
    display: grid;
    place-items: center;
    max-width: 50%;        
}

.logo-kabinet img{
    width: 60%;
}

.name-kabinet{
    width: 50%;
    margin-left: 10px;
}

.name-kabinet h2{
    font-weight: bold;
    margin: 0px;
}

.name-kabinet h5{
    font-family: var(--font-family-body);
    font-size: 14px;
    margin-bottom: 0px;
}


.detail-headline h6{
    font-family: var(--font-family-body);
    font-size: 10px;
    padding-top: 10px;
    margin: 0px;
}

.detail-headline p{
    font-weight: 600;
    margin-bottom: 12px;
}

.list-kabinet {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-height: 45px;
    align-items: center;
    background-color: var(--grey);
    padding: 10px 20px 10px 20px;
    border-radius: 15px !important;
}

.list-kabinet li {
    list-style-type: none;
}

.icon-list {
    display: inline-block;
}


.video {
    width: 100%;
    height: 360px;
    border-radius: 15px !important;
    margin-bottom: 20px;
}

.video-kabinet{
    display: grid;
        place-items: center;
}

 .small-kabinet-menu{
    margin-top: 15px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: unset;
    width: 75%;
    justify-content:space-between !important;
}

.small-kabinet-menu .nav-item button{   
    display: grid;
    place-items: center;
    font-weight: 600;
    width: 160px;
    height: 100%;
    font-family: var(--font-family-body);
    font-size: 20px;
    text-align: center;
    color: var(--grey);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    border: none;
    outline: none;
    background-color: transparent;
    border-radius: 10px;
    
}

.active, .button-kabinet:hover {
    background-image: var(--gradient-1) !important;
    color: var(--white) !important;
    border-radius: 10px !important;
    box-shadow: 0px 5px 10px 1px rgb(57 145 201 / 18%);        
}

.tab-content .active {
    background-color: transparent !important;
    background-image: none !important;
}

.body-content {
    margin-top: 20px;
    margin-bottom: 30px;
}

.content-kabinet { 
    padding: 25px !important;
    max-width: 100%;
    display: grid;
    place-items: center;
}

.card-kabinet {
    padding: 20px;
    margin-right: 20px;
    margin-left: 20px;
    width: 85%;
    min-height: 100px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 15px;
    background-color: #e0e0e0;
}

.logo-filosofi {
    display: grid;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
}

.logo-filosofi img {
    padding: 15px;
    width: 100%;
}

.card-filosofi {
    border-radius: 15px;
    padding: 10px;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    min-height: 100px;
    background-color: #e0e0e0;
}

.text {
    text-align: center;
}

.filosofi-text h2, .card-title {
    color: black;
    font-size: 16px;
    font-style: bold;
}

.filosofi-text p, .card-text {
    color: #686868;
    font-size: 13px;
    font-weight: 400;
}

.kabinet-prev .carousel-control-prev-icon, .kabinet-next .carousel-control-next-icon {
    background-color: transparent;
    width: 25px;
    height: 25px;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%233991C9'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%233991C9'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.kabinet-prev, .kabinet-next {
    opacity: 1 !important;
}

.footer-blue {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 20%;
    padding-right: 20%;
    display: flex;
    background-color: var(--primary);
    text-align: left;
    position: absolute;
    align-items: center;
    width: 100%;
    height: 90px;
}

.footer-blue-logo{
    width: unset;     
}

.footer-blue img {
    width: 60px;
    border-radius: 50%;
    background-color: #fff;
}

.footer-blue p{
    font-size: 8px; 
    margin-bottom: 0px;
    color: var(--white);
}

.detail-info{
    margin-left: 10px;
    width: 50%;
}

.detail-info p{
    font-size: 13px;

}

.icon-sosmed{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 10px;
    width: unset;
}

.icon-sosmed img{
    width: 100%;
}

#filosofiLogo{
    place-items: center;
}

#visiMisi{
    place-items: center;
}

#organigram {
    place-items: center;
}

#organigram .logo-filosofi{
    padding: 0px;
}

#carouselFilosofiLogo{
    width: 80%;
}

#carouselVisiMisi{
    width: 80%;
}

.tab-content > .active {
    display: grid;
}


@media(max-width: 1200px){
    #carouselVisiMisi{
        width: 100%;
    }
    
    .navback-home img{
        width: 36px;
    }

    .kab-navback{
        margin-top: 36px;
        margin-bottom: 20px;
    }

    .first-headline {
        display: flex; 
        margin-top: 0px ;  
    }

    .logo-kabinet img{
        width: 100%;
    }

    .icon-list {
        display: inline-block;
    }

    .video {
        width: 80%;
    }

     .small-kabinet-menu{
        width: 100%;
    }

    .small-kabinet-menu .nav-item button{   
        width: 90px;
        height: 100%;
        font-size: 13px; 
    }

    .footer-blue {
        padding-left: 26px;
        padding-right: 26px;
    }

}

@media (max-width: 576px) {

    .logo-kabinet img{
        width: 60%;
    }

    #carouselFilosofiLogo{
        width: 100%;
    }
    .footer-blue-logo{
        width: 10%;     
    }

    .video{
        width: 100%;
        height: 200px;
    }

    .footer-blue p{
        font-size: 8px; 
        margin-bottom: 0px;
        color: var(--white);
    }

    .detail-info{   
        width: 40%;
    }


    .icon-sosmed{
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        gap: 10px;
        width: 25%;
    }
    .icon-sosmed img{
        width: 100%;
    }
}