@import url("../../../external.html?link=https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("../assets/icons/simple-line-icons/css/simple-line-icons.css");
@import url("../assets/icons/font-awesome/css/font-awesome.min.css");
@import url("../assets/icons/material-design-iconic-font/css/materialdesignicons.min.css");
@import url("../assets/icons/themify-icons/css/themify-icons.css");
@import url("../assets/icons/line-awesome/css/line-awesome.min.css");
@import url("../assets/icons/avasta/css/style.css");
@import url("../assets/icons/flaticon/flaticon.css");
@import url("../assets/icons/flaticon_1/flaticon_1.css");
@import url("../assets/icons/icomoon/icomoon.css");
@import url("../assets/icons/bootstrap-icons/font/bootstrap-icons.css");
@import url(../vendor/animate/animate.min.css);
@import url(../vendor/aos/css/aos.min.css);
@import url(../vendor/perfect-scrollbar/css/perfect-scrollbar.css);

:root {
    --primary: #3991C9;
    --secondary: #137cbd;
    --gradient-1: linear-gradient(#3991C9, #63BCF4);
    --white: #fff;
    --black: #000;
    --grey: #C4C4C4;
    --primary-color-1: #110f58;
    --primary-color-2: rgba(91, 207, 197, 0.2);
    --font-family-title: Playfair Display, serif;
    --font-family-body: Open sans, sans-serif;
    --font-color-primary: #174461; 
    --font-color-primary-2: #FFFFFF;
    --font-color-subheadline: #071D2C; 
    --font-color-secondary: #686868;
    --font-color-call-to-act-2:#4a4a4a;
    --font-size-base: 1rem;
    --page-background-1: #F9FAFB;
    --page-background-2: #f6f6f6;
}

body{
    font-family: var(--font-family-title);
    font-size: var(--font-size-base);
    color: var(--font-color-primary);
    min-height: calc(100vh - 90px);
    display:block;
    background-color: var(--page-background-1);
}

h1{
    font-family: var(--font-family-title);
    font-weight: 700;
    font-size:  31px;
}

h2{
    font-family: var(--font-family-title);
    font-weight: 700;
    font-size:  20px;
}

p{
    font-family: var(--font-family-body);
    font-weight: 400;
    font-size: 16px;
    color: var(font-color-secondary);
}

.launch-logo{
    background-color: var(--page-background-1);
    display: grid;
    place-items: center;
    height: 100vh;
    z-index: 200;
}

.launch-logo.display-none{
    display: none;
    transition: all 1s;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: transparent;
}

@keyframes fade{
    0%,100% { opacity: 0 }
    50% { opacity: 1 }
}

.fade{
    opacity: 0;
    animation: fade 3.5s ease-in-out forwards;
}

.launch-logo-image{
    width: 281px;
    height: 281px;
}

.login-page{
    display: none;
}

.login-page.display{
    display: flex;
    flex-direction: column;
    transition: all 0.5s ease-in;
    background-color: none;
    height: 100% !important;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    width: 100%;
}

.bg-container {
    display: none;
}

.bg-container.display{
    display: flex;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    position: fixed;
}

.wavey-bg{
    width: 50%;
    height: 100%;
}

.pplk-logo{
    margin-top: 14px;
    margin-left: 25px;
    margin-bottom: 0px;
    background-color: #fff;
    width: 59px;
    height: 59px;
    border-radius: 50%;
    z-index: 90;
}

.pplk-logo-img{
    width: 59px;
    height: 59px;
    border-radius: 50%;
}

.wrap-login{
    background-color: transparent;
    border: none;
    padding-left: 5rem;
    padding-right: 5rem;
    display: grid;
    place-items: center;
    right: 0;
    min-height: 300px;
    margin-top: 0px;
    margin-left: 55%;
}

.image-container{
    display: grid;
    place-items: center;
    right: 0 !important;
}

.login-image{
    width: 70%;
    margin-top: 1rem;
}

.login-welcome-info{
    margin-top: 0.8rem;
    margin-bottom: 4rem;
    text-align: center;
}

.login-welcome-info p{
    margin: 0;
}

.silahkan-masuk{
    margin: 0;
}

.input-field-group{
    margin-bottom: 4rem;
}

.input-field {
    width: 100%;
    display: flex;
    align-items: center;
}

.input-control{
    border: none;
    border-bottom: 1.5px solid #E0E0E0;
    border-radius: 0;
    background-color: transparent;
    appearance:none;
    outline: none;
    height: 30px;
    font-size: 13px;
    padding-left: 30px;
    font-family: var(--font-family-body);
    font-size: 13px;
    font-weight: 400;
    color: #7B7B7B;
} 

.input-control:focus{
    background-color: transparent;
    border-radius: 5px;
    color: #7B7B7B;
    appearance: none;
}

.form-label{
    text-align: left !important;
    float: left;
    font-family: var(--font-family-body);
    font-size: 13px;
    font-weight: 400;
    color: #7B7B7B;
}

.input-logo{
    position: absolute;
    float: left !important;
    text-align: left;
}

.input-logo img{
    width: 20px;
}

.custom-login-btn{
    width: 100%;
    height: 50px;
    background-image: linear-gradient(#3991C9, #63BCF4);
    border: none;
    font-family: var(--font-family-body);
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 2rem;
}

.forget-password{
    margin-top: 1rem;
    margin-bottom: 1rem ;
}

.forget-password p{
    bottom: 0 !important;
    text-align: center !important;
    font-size: 13px !important;
    padding: 5px;
}
 


@media (max-width: 1200px) {
    .launch-logo-image{
        width: 281px;
        height: 281px;
        z-index: 200;
    }

    .pplk-logo{
        margin-top: 14px;
        margin-left: 25px;
        margin-bottom: 0px;
        background-color: #fff;
        width: 59px;
        height: 59px;
        border-radius: 50%;
    }

    .pplk-logo-img{
        width: 59px;
        height: 59px;
        border-radius: 50%;
    }

    .wrap-login{
        background-color: transparent;
        border: none;
        padding-left: 5rem;
        padding-right: 5rem;
        display: grid;
        place-items: center;
        min-height: 640px;
        margin-top: 35px;
        margin: auto;
    }

    .image-container{
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
    }

    .login-image{
        width: 100%;
        margin-top: 1rem;
    }

    .login-welcome-info{
        margin-top: 0.8rem;
        margin-bottom: 4rem;
        text-align: center;
    }

    .login-welcome-info p{
        margin: 0;
    }

    .silahkan-masuk{
        margin: 0;
    }

    .input-field-group{
        margin-bottom: 4rem;
    }

    .input-field {
        width: 100%;
        display: flex;
        align-items: center;
    }

    .input-control{
        border: none;
        border-bottom: 1.5px solid #E0E0E0;
        border-radius: 0;
        background-color: transparent;
        appearance:none;
        outline: none;
        height: 30px;
        font-size: 13px;
        padding-left: 30px;
        font-family: var(--font-family-body);
        font-size: 13px;
        font-weight: 400;
        color: #7B7B7B;
    } 
    
    .input-control:focus{
        background-color: transparent;
        border-radius: 5px;
        color: #7B7B7B;
        appearance: none;
    }

    .form-label{
        text-align: left !important;
        float: left;
        font-family: var(--font-family-body);
        font-size: 13px;
        font-weight: 400;
        color: #7B7B7B;
    }

    .input-logo{
        position: absolute;
        float: left !important;
        text-align: left;
    }

    .input-logo img{
        width: 20px;
    }

    .custom-login-btn{
        width: 100%;
        height: 50px;
        background-image: linear-gradient(#3991C9, #63BCF4);
        border: none;
        font-family: var(--font-family-body);
        font-size: 15px;
        font-weight: 400;
        margin-bottom: 6rem;
    }

    .forget-password{
        height: 100%;
        margin-top: 1rem;
        margin-bottom: 1rem ;
    }

    .forget-password p{
        bottom: 0 !important;
        text-align: center !important;
        font-size: 13px !important;
        padding: 5px;
    }
}   

@media (max-width: 360px) {

    .wrap-login{
        min-height: 530px;
        margin-top: 10px !important;
    }

    .login-welcome-info{
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    
    .login-image{
        margin-top: 0;
    }

    .input-field-group{
        margin-bottom: 2rem;
    }

    .custom-login-btn{
        margin-bottom: 5rem;
    }

    .forget-password {
        margin-top: 0;
        margin-bottom: 0;
    }
}