.desktop{
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.main-wrapper {
    background-color: transparent;
}

.title {
    font-family: var(--font-family-title);
    font-weight: 700;
    font-size: 20px;
}

.bodytext {
    font-family: var(--font-family-body);
    font-weight: 400;
    font-size: 10px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: white;
}

.page-content {
    position: relative;
    overflow-x: hidden;
    transition: all 300ms ease;
    z-index: 90;
    padding-top: 16px;
    padding-left: 26px;
    padding-right: 26px;
    min-height: calc(100vh - 90px);
    padding-bottom: 0px;
    padding-bottom: calc(20px + (constant(safe-area-inset-bottom))*1.1);
    padding-bottom: calc(20px + (env(safe-area-inset-bottom))*1.1);
}

.back-btn {
    margin-left: 15px;
    position: relative;
}

.bg {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.bg1 {
    position: relative;
    height: 320px;
    background-color: var(--primary);
    z-index: -1;
}

.bg1::after {
    content: "";
    position: absolute;
    top: 99%;
    background-color: var(--primary);
    width: 100%;
    height: 50px;
}

.bg2 {
    border-radius: 15px;
    height: 100%;
    background-color: white;
}

.bg-circle {
    z-index: 1;
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(324.49deg, #63BCF4 -41.47%, #479FD7 156.85%);
}

.c1 {
    width: 172px;
    height: 172px;
    left: -86px;
    top: -20px;
}

.c2 {
    width: 174px;
    height: 174px;
    right: -67px;
    bottom: -50px;
}

.question-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question {
    position: relative;
    border-radius: 20px;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 100%;
    max-width: 360px;
    max-height: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    padding: 18px 16px;
}

.question-time {
    height: 70px;
    width: 70px;
    background-color: white;
    border-radius: 50%;
    top: -35px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.question-time-span {
    position: absolute;
    font-size: 16px;
    font-weight: 600;
    color: #63BCF4;
}

.question-img {
    object-fit: contain;
    object-position: center;
    border-radius: 10px;
    background-color: white;
    width: 100%;
    max-height: 218px;
    max-width: 328px;
}

.question-tag{
    height: 25px;
    width: 100px;
    border-radius: 20px;
    margin: 15px 0;
    background-color: rgba(57, 145, 201, 0.2);
    text-align: center;
}

.question-tag *{
    line-height: 25px;
    font-size: 13px;
    color: var(--font-color-secondary);
}

.question-title {
    margin: 5px 0 0 0;
    text-align: center;
}

.question-title * {
    line-height: 110%;
    color: #174461;
    margin-bottom: 0;
}

.answer {
    width: 100%;
}

.answer-options{
    list-style-type: none;
    margin: 5px 0 0 0;
    padding: 0;
}

.answer-options li {
    background-color: white;
    margin: 7.5px 0;
    width: 100%;
    position: relative;
}

.answer-options input {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0;
}

.answer-options label {
    padding: 0 15px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    z-index: 1;
    border-radius: 5px;
    border: 2px #479FD7 solid;
}

.option-name {
    margin-left: 10px;
    color: var(--primary);
    font-size: 16px;
    font-weight: 400;
}

.checkmark{
    margin-left: auto;
}   

.checked {
    display: none;
}

input:checked ~ label .checked {
    display: block;
}

input:checked ~ label .unchecked {
    display: none;
}

.answer-submit {
    margin-top: 15px;
    width: 100%;
    height: 50px;
    background: linear-gradient(324.49deg, #63BCF4 -41.47%, #479FD7 156.85%);
    color: white;
    font-size: 16px;
    font-weight: 600;
}

.answer-submit:hover {
    color: white;
}

@media (max-width: 1200px) {
    .desktop{
        margin-top: 0px;
    }

    .bg1 {
        height: 200px;
    }

}