.nav-back {
    display: flex;
    top: 0;
    padding-left: 25px;
    padding-right: 25px;
    overflow: hidden;
    z-index: 99;
}

.nav-back a {
    position: absolute;
    top: 20px;
    color: #fefefe;
}

.navback-home {
    text-decoration: none;
    font-family: var(--font-family-body);
}

.page-content {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    padding-top: 0;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 0px;
    background-color: var(--primary);
}

.page-content .card {
    margin-top: 90px;
    display: flex;
    max-width: 100%;
    padding: 30px 25px 20px 25px;
    border-radius: 15px 15px 0px 0px !important;
    height: 100%;
    min-height: calc(100vh - 90px);
    background-color: #fefefe;
    flex-direction: column;
}

.desc-text {
    text-align: center;
}

.code {
    padding: 10px;
    display: flex;
    align-items: center;
}

.subhead-text {
    font-size: 16px;
    font-weight: 600;
}

.body-text {
    font-size: 13px;
    font-weight: 400;
}

.code img{
    width: 75%;
    min-height: 50px;
}

.margin-code {
    margin-bottom: 158px;
}
@media (max-width: 1200px) {
    .page-content {
        margin: 0px;
    }

}