.nav-back {
    display: flex;
    top: 0;
    padding-left: 25px;
    padding-right: 25px;
    overflow: hidden;
    z-index: 99;
}

.nav-back a {
    position: absolute;
    top: 20px;
    color: #fefefe;
}

.navback-home {
    text-decoration: none;
    font-family: var(--font-family-body);
}

.page-content {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    padding-top: 0;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 0px;
    background-color: var(--primary);
}

.page-content .card {
    margin-top: 90px;
    min-height: calc(100vh - 90px);
    display: flex;
    width: 100%;
    padding: 30px 25px 0px 25px;
    border-radius: 15px 15px 0px 0px !important;
    background-color: #fefefe;
    flex-direction: column;
}

.main-content{
    top: 0;
    display: grid;
    width:90%;
    margin: 0 auto;
}

h2{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 50px;
}  

.upt-custom{   
    margin-top: 0px !important;    
    box-shadow: 0px 7px 29px 0px var(--grey);
    border-radius: 15px !important;
    padding-bottom: 20px !important;
    display:grid;
    place-items: center;
}

.upt-custom .detail-upt {
    border-radius: 15px 15px 15px 15px !important;
    background-color: var(--grey) !important;
    text-align: center;
    margin-top: 20px !important;
    border : none;
    min-height: 200px !important;
    padding-bottom: 20px !important;
    width: 65%;
}

.detail-upt h2{
    font-size: 24px;
    margin-bottom: 15px;
}

.detail-upt p{
    font-size: 18px;
}

@media(max-width: 1200px) {    
    .nav-back {
        display: flex;
        top: 0;
        padding-left: 25px;
        padding-right: 25px;
        overflow: hidden;
        z-index: 99;
    }
    
    .nav-back a {
        position: absolute;
        top: 20px;
        color: #fefefe;
    }

    .page-content{
        margin-top: 0px;
    }
    
    .navback-home {
        text-decoration: none;
        font-family: var(--font-family-body);
    }

    .main-content{
        width: 80%;
    }

    .card h2{
        text-align: center;
        margin-top: 10px;
    } 
    
    .upt-custom .detail-upt{
        width: 65%;
    }

    .detail-upt {
        border-radius: 15px !important;
        background-color: var(--thumbnail-photos);
        text-align: center;
        margin-top: 20px;
        border : none;
    }

    .detail-upt h2{
        font-size: 20px;
        margin-bottom: 15px;
    }

    .detail-upt p{
        font-size: 13px;
    }

}

@media (max-width: 576px) {
    .main-content{
        width: 100%;
    }
    
    .upt-custom .detail-upt{
        width: 100%;
    }
    
}